/* HomePageOption.css */
.home-page-option {
    margin-top: 30px;
    margin-bottom: 20px;
    background: rgba(218, 215, 215, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 111;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  }
  
  .home-page-option a {
    text-decoration: none;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    transition: color 0.3s ease; /* Smooth transition for color change */
    margin-left: 16px;
    font-size: .8rem;
  }
  
  .home-page-option a:hover {
    color: red; /* Change color to red on hover */
  }
  
  @media (max-width: 999px) {
    .home-page-option {
      display: none; /* Hide the component on screens smaller than 999px */
    }
  }
  