.Slider{
    background-color:  rgba(255, 66, 66, 0.888);
    margin-bottom: 1000px;
   overflow-x: hidden;
   overflow-y: hidden;
   background: rgba(255, 0, 0, 0.667);
   box-shadow: 0 8px 32px 0 rgba(244, 100, 100, 0.37);
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Slide {
    width: 200px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide p{
    color:rgb(255, 255, 255);
    font-weight: 500;
    font-family: "Montserrat", Sans-serif;
    margin-top: 10px;
    font-size: .7rem;
  

}
.Slide > a{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}
.Slide img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
  
}