.country h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .states, .districts, .stores {
    margin-bottom: 20px;
  }
  
  .state-item {
    margin-bottom: 10px;
  }
  
  .state-button, .district-button {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .store-card {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .see-location-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  
  .btn-primary:hover {
    background-color: #cc0000;
    border-color: #cc0000;
  }
  